<form [formGroup]="form" class="main-container">
    <div class="sub-form">
      <div class="form-group">
        <div class="col-md-12">
          <label>Risk</label>
          <input type="text" class="form-control" formControlName="riskOfHarmToOthers" required>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-md-12">
          <label>Social Support</label>
          <input type="text" class="form-control" formControlName="socialSupport" required>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-md-12">
          <label>Special Need Disability</label>
          <input type="text" class="form-control" formControlName="specialNeedDisability" required>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-md-12">
          <label>Suicidal Thoughts</label>
          <input type="text" class="form-control" formControlName="suicidalThoughts" required>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-md-12">
          <label>Visible Signs Of Injury</label>
          <input type="text" class="form-control" formControlName="visibleSignsOfInjury" required>
        </div>
      </div>
  
     
      <div class="text-center">
        <button type="button" class="btn btn-secondary btn-size">CANCEL</button>
        <button type="button" class="btn-color-override btn btn-primary btn-size">SUBMIT</button>
      </div>
    </div>
  </form>