

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-container {
    padding: 5%;
}
.sub-form {
    border: 2px solid #0000A0;
    padding: 3%;
}
.btn-color-override {
    background-color : #0000A0 !important;
}
.btn-size {
    width: 200px;
    height: 50px;
}